.top-bar {
    background-color: rgb(186, 206, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 62px;
    padding: 0 54px;
}
.logo-box {
    width: 172px;
    display: flex;
    align-items: center;
}
.logo-box  img {
    width: 100%
}
.menu01 {
    width: 388px;
    height: 100%;
}
.menu01-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    height: 100%;
}
.m01.item {
    color: #000;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
}
.m01-item:hover > a {
    text-decoration: underline;
}
/* 화면에서 마우스 올렸을때 2,3차 메뉴 안나옴
어디 코드가 문제일까요 */
.menu02 {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    justify-content: center;
    overflow: hidden;
    position: absolute;
    display: flex;
    left: 0;
    right: 0; 
    top: 100%;
    height: 0;
    transition: 0.5s;
}
.menu01:hover > .menu02 {
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: 400px;
}
.menu02 > .container {
    display: flex;
    width: 1620px;
}
.m02-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.m02-img-item {
    width: 300px;
    height: 300px;
}
.m02-img-item>a {height: 100%;}
.m02-img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mn02-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mn02-nav>ul {
    display: flex;
    gap: 80px;
}
.m02-item>a {
    font-size: 54px;
    font-weight: 700;
    color: #333;
    transition: 0.3s;
}
.m02-item:hover>a {
    color: blue;
    text-decoration: underline;
}
.m02-item {
    position: relative;
}
.mn03-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 20px);
    justify-content: space-between;
    display: none;
}
.m02-item:hover > .mn03-nav{
    display: flex;
}
.m03-item>a {
    font-size: 24px;
    font-weight: 700;
    color: #565656;
    transition: 0.3s;
}
.m03-item:hover>a {
    color: #333;
    text-decoration: underline;
}
.user-menu {
    display: flex;
    justify-content: flex-end;
}
.user-menu-ul { 
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.user-item {
    color: #000;
    font-size: 11px;
    font-weight: 700px;
    line-height: 15px;
}
.user-item01 >a {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}
.user-item02 >a {
    border: 1px solid #333;
    padding: 9px 18px;
    border-radius: 20px;
    line-height: 1;
}
.user-item02:hover > a {
    background-color: #111;
    color: #fff;
}
.u-item03 >a {
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-svg {
    width: 4px;
    height: 18px;
    fill: #111;
}