@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
/* 오류방지로 바디에 한번더 적는다 */
body { font-family: 'GMarketSans',sans-serif;}
/* 가져온 폰트는 노말 제일 위에 넣는다 */
body{margin: 0; padding: 0;}
ul,ul>li{margin: 0; list-style: none; padding: 0;}
p{margin: 0;}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
button {
    background-color: transparent;
    padding: auto;
    border: none; outline: none;
}
img {
    display: block;
}